@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme inline {
  --color-primary: #6366F1;
  --color-primary-dark: #4F46E5;
  --color-accent: #10B981;
  --color-danger: #EF4444;
  --color-bg: #F9FAFB;
  --color-sidebar: #1E293B;
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--color-bg);
  color: #171717;
  font-family: var(--font-sans);
}
